<template x-component:hui="listbox" x-modelable="value" x-data="{
    value: null,
    get disabled() {return $prop('disabled')}
}">
    <slot></slot>
    <script>
        return {
            _elActive: null,
            _elSelected: null,
            _isOpen: false,
            get compButton() {
                return this.$findOne('listbox-button')
            },
            get compLabel() {
                return this.$findOne('listbox-label')
            },
            get compOptions() {
                return this.$findOne('listbox-options')
            },
            open() {
                this._isOpen = true
                $vui.focus(this.compOptions)
            },
            close() { this._isOpen = false },
            get isOpen() { return this._isOpen },
            isActive(el) {
                return this._elActive === el
            },
            isSelected(el) {
                return this._elSelected === el
            },
            activate(el) {
                this._elActive = el
                if (this._elActive) {
                    $vui.scrollIntoView(this._elActive)
                }
            },
            get allOptions() {
                return this.$find('listbox-option')
            },
            get enabledOptions() {
                let options = []
                this.allOptions.forEach(el => !$vui.$data(el).disabled && options.push(el))
                return options
            },
            activateFirstOrSelected() {
                if (this._elSelected) {
                    this.activate(this._elSelected)
                } else {
                    this.activateFirst()
                }
            },
            activateWithStep(step) {
                let elOptions = this.enabledOptions
                let count = elOptions.length
                if (!this._elActive) this._elActive = elOptions[0]
                if (count > 0) {
                    let activeIndex = elOptions.indexOf(this._elActive)
                    if (activeIndex === -1) activeIndex = 0
                    let index = activeIndex + step
                    if (index < 0)
                        index = 0
                    else if (index >= count)
                        index = count - 1
                    this.activate(elOptions[index])
                }
            },
            activateFirst() {
                let elOptions = this.enabledOptions
                let count = elOptions.length
                if (count > 0) this.activate(elOptions[0])
            },
            activateLast() {
                let elOptions = this.enabledOptions
                let count = elOptions.length
                if (count > 0) this.activate(elOptions[count - 1])
            },
            select(el) {
                if (!el) return
                this._elSelected = el
                this.value = $vui.$data(el).value
            },
            selectActive() {
                if (this._elActive) {
                    this.select(this._elActive)
                }
            }
        }
    </script>
</template>

<template x-component:hui="listbox-label" @click="$api.focusButton()">
    <slot></slot>
    <script>
        return {
            focusButton() {
                let context = this.$api.$of('listbox')
                $vui.focus(context.compButton)
            }
        }
    </script>
</template>

<template x-component:hui="listbox-button" @click="$api.toggle()" tabindex="0" @keydown="$api.onKeydown($event)">
    <slot></slot>
    <script>
        return {
            get context() { return this.$of('listbox') },
            onKeydown(e) {
                let context = this.context
                switch (e.key) {
                    case 'Space':
                    case 'Enter':
                    case 'ArrowDown':
                        e.preventDefault()
                        context.open()
                        $vui.nextTick(() => context.activateFirstOrSelected())
                        break;

                    case 'ArrowUp':
                        e.preventDefault()
                        context.open()
                        $vui.nextTick(() => context.activateLast())
                        break;
                }
            },
            toggle() {
                let context = this.context
                if (context.isOpen)
                    context.close()
                else {
                    context.open()
                    $vui.nextTick(() => context.activateFirstOrSelected())
                }
            }
        }
    </script>
</template>

<template x-component:hui="listbox-options" tabindex="0" x-data="{
    get isOpen(){return $api && $api.isOpen}
}" x-trap="isOpen" x-show="isOpen" @click.outside="$api.context.close()" @keydown="$api.onKeydown($event)"
    @keydown.escape.stop.prevent="$api.context.close()" @keydown.enter.stop.prevent="$api.onSelectActive()"
    @keydown.space.stop.prevent="$api.onSelectActive()">
    <slot></slot>
    <script>
        return {
            get context() { return this.$of('listbox') },
            get isOpen() { return this.context.isOpen },
            onSelectActive() {
                this.context.selectActive()
                this.context.close()
            },
            onKeydown(e) {
                let context = this.context
                switch (e.key) {
                    case 'ArrowDown':
                        e.preventDefault()
                        e.stopPropagation()
                        context.activateWithStep(1)
                        break;

                    case 'ArrowUp':
                        e.preventDefault()
                        e.stopPropagation()
                        context.activateWithStep(-1)
                        break;
                    case 'Home':
                    case 'PageUp':
                        e.preventDefault()
                        e.stopPropagation()
                        context.activateFirst()
                        break

                    case 'End':
                    case 'PageDown':
                        e.preventDefault()
                        e.stopPropagation()
                        context.activateLast()
                        break
                }
            }
        }
    </script>
</template>

<template x-component:hui="listbox-option" x-data="{
    get disabled() {return $prop('disabled')},
    get active() {return $api.active},
    get value() {return $prop('value')},
    get selected() {return $api.selected},
}" @mousemove="$api.activate()" @click="$api.onSelect()" :tabindex="-1">
    <slot></slot>
    <script>
        return {
            get context() { return this.$of('listbox') },
            get active() {
                let context = this.context
                return context && context.isActive && context.isActive(this.$el)
            },
            get selected() {
                let context = this.context
                return context && context.isSelected && context.isSelected(this.$el)
            },
            activate() { this.context.activate(this.$el) },
            select() { this.context.select(this.$el) },
            close() { this.context.close() },
            onSelect() {
                if (!this.disabled) {
                    this.select()
                    this.close()
                }
            }
        }
    </script>
</template>