<template x-component:hui="tab-group" x-modelable="value" x-data="{value : null}">
    <slot></slot>
    <script>
        return {
            isSelected(val) {
                return val === this.value
            },
            select(val) {
                this.value = val
            },
            get manual() { return this.$prop('manual') },
            get activeTabs() {
                return this.$find((el) => {
                    let api = $vui.$api(el)
                    return api && (api.$meta.type === 'tab' && !api.disabled)
                })
            },
            focusFirst() {
                this.$focus.within(this.activeTabs).first()
            },
            focusLast() {
                this.$focus.within(this.activeTabs).last()
            },
            focusPrev() {
                this.$focus.within(this.activeTabs).withWrapAround().prev()
            },
            focusNext() {
                this.$focus.within(this.activeTabs).withWrapAround().next()
            }
        }
    </script>
</template>
<template x-component:hui="tab-list">
    <slot></slot>
    <script>
        return {
            onMounted() {
                let container = this.$closest('tab-group')
                if (!container) throw Error('tab-list should be contained in tab-group')
            }
        }
    </script>
</template>
<template x-component:hui="tab" x-data="{
    get selected(){return $api && $api.context.isSelected($api.value)}
}" @click="$api.onSelect(); $el.focus()" @focus="$api.onFocus()" @keydown.enter.prevent.stop="$api.onSelect()"
    @keydown.space.prevent.stop="$api.onSelect()" @keydown.home.prevent.stop="$api.context.focusFirst()"
    @keydown.page-up.prevent.stop="$api.context.focusFirst()" @keydown.end.prevent.stop="$api.context.focusLast()"
    @keydown.page-down.prevent.stop="$api.context.focusLast()" @keydown.down.prevent.stop="$api.context.focusNext()"
    @keydown.right.prevent.stop="$api.context.focusNext()" @keydown.up.prevent.stop="$api.context.focusPrev()"
    @keydown.left.prevent.stop="$api.context.focusPrev()" :tabindex="selected && !$api.disabled ? 0 : -1">
    <slot></slot>
    <script>
        return {
            get context() { return this.$of('tab-group') },
            get value() { return this.$prop('value') },
            get disabled() { return this.$prop('disabled') },
            onMounted() {
                let container = this.$closest('tab-list')
                if (!container) throw Error('tab should be contained in tab-list')
            },
            onSelect() {
                if (this.disabled) return
                this.context.select(this.value)
            },
            onFocus() {
                if (this.disabled) return
                if (!this.context.manual) {
                    this.onSelect()
                }
                this.$el.focus()
            }
        }
    </script>
</template>
<template x-component:hui="tab-panels">
    <slot></slot>
    <script>
        return {
            onMounted() {
                let container = this.$closest('tab-group')
                if (!container) throw Error('tab-panels should be contained in tab-group')
            }
        }
    </script>
</template>
<template x-component:hui="tab-panel" x-data="{
    get selected(){return $api && $api.context.isSelected($prop('value'))}
}" x-show="selected" :tabindex="selected ? 0 : -1">
    <slot></slot>
    <script>
        return {
            get context() { return this.$of('tab-group') },
            onMounted() {
                let container = this.$closest('tab-panels')
                if (!container) throw Error('tab-panel should be contained in tab-panels')
            }
        }
    </script>
</template>